  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#111827;
    color:white;
}
.card h2{
    color: #00e5ff;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 30px;
    background:#1f2937;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#00e5ff;
    
}

nav ul{
    list-style:none;
    display:flex;
    gap:50px;
    
}

nav a{
    text-decoration:none;
    color:white;
}

nav a:hover{
    color:#00e5ff;
}

.hero{
    padding-top: 5%;
    height:10%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

    background:linear-gradient(
    135deg,
    #00e5ff,
    #7c3aed,
    #ff4081
    );
}

.hero h1{
    font: size 100px;;
}

.hero h2{
    margin:10% 0;
    color: #00e5ff;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:white;
    color:black;
    text-decoration:none;
    border-radius:30px;
}

 .cards{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:25px;
    padding:40px;
    max-width:1200px;
    margin:0 auto;
}

  .card{
    background:var(--card-color);
    color:var(--text-color);
    padding:25px;
    border-radius:15px;
    text-align:center;
    transition:all 0.4s ease;
    cursor:pointer;
    border:2px solid transparent;
}

.card:hover{
    transform:translateY(-12px) scale(1.03);
    border:2px solid #00e5ff;
    box-shadow:
        0 0 10px #00e5ff,
        0 0 20px #00e5ff,
        0 0 40px rgba(0,229,255,0.8);
}
.card i{
    font-size:250% ;
    color:#00e5ff;
    margin-bottom:8%;
}

footer{
    text-align:center;
    padding:20px;
    background:#1f2937;
}
.page{
    padding:0%;
    text-align:center;
}

.page h1{
    margin-bottom:30px;
}

input,
textarea{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
}

textarea{
    resize:none;
}
:root{
    --bg:#111827;
    --text:#ffffff;
    --card:#1f2937;
}

.light-theme{
    --bg:#f5f5f5;
    --text:#111827;
    --card:#ffffff;
}

body{
    background:var(--bg);
    color:var(--text);
    transition:0.4s;
}

.card{
    background:var(--card);
    transition:0.4s;
}

.profile-pic{
    
    width:140px;
    height:140px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid white;
    margin-bottom:20px;
}

#themeBtn{
    padding:10px 15px;
    border:none;
     
    border-radius:50%;
    cursor:pointer;
    font-size:10px;
    
}
:root{
    --bg-color:#111827;
    --text-color:white;
    --card-color:#1f2937;
    --nav-color:#0f172a;
}

.light-theme{
    --bg-color:#f8fafc;
    --text-color:#111827;
    --card-color:white;
    --nav-color:#e2e8f0;
}
body{
    background:var(--bg-color);
    color:var(--text-color);
    transition:0.3s;
}

nav{
    background:var(--nav-color);
}

.card{
    background:var(--card-color);
}

nav a{
    color:var(--text-color);
}
  
.nav-links li{

    margin:20px 0;

}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#494949;
    color:white;
    padding:15px 20px;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:0%;
}

.nav-links a{
    color:white;
    text-decoration:none;
}

.menu-icon{
    display:none;
    font-size:30px;
    cursor:pointer;
}

 
@media (max-width:768px){

    .menu-icon{
        display:block;
    }

    .nav-links{
        display:none;
        flex-direction:column;
        position:absolute;
        top:60px;
        left:0;
        width:100%;
        background:#222;
    }

    .nav-links.active{
        display:flex;
    }

    .nav-links li{
        text-align:center;
        padding:15px 0;
        margin:0;
    }
  
}
.social-icons{
    margin-top:25px;
}

.social-icons a{
    display:inline-block;
    margin:0 15px;
    font-size:40px;
    color:white;
    transition:0.4s ease;
}

.social-icons a:hover{
    color:#00e5ff;
    transform:translateY(-8px) scale(1.2);
    text-shadow:
        0 0 10px #00e5ff,
        0 0 20px #00e5ff,
        0 0 30px #00e5ff;
}
.btn{
    display:inline-block;
    margin-top:15px;
    padding:10px 20px;
    background:#00bfff;
    color:white;
    text-decoration:none;
    border-radius:5px;
    margin-right:10px;
}

.btn:hover{
    background:#68c4df;
}